# ==============================
# DATABASE
# ==============================
caso use o docker -> jdbc:postgresql://localhost:5433/personal_finance_db
DB_URL=jdbc:postgresql://localhost:5433/personal_finance_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

# ==============================
# MAIL (MailerSend SMTP)
# ==============================
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=

# ==============================
# Security
# ==============================
JWT_SECRET_KEY=your-super-secret-key-here
JWT_EXPIRATION=3600000
