# ==============================
# DATABASE
# ==============================
DB_URL=jdbc:postgresql://localhost:5433/personal_finance_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

# ==============================
# MAIL (MailerSend SMTP)
# ==============================
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
